<a href="https://colab.research.google.com/github/MFikriMumtaz/Latihan-Git/blob/main/NGC%202%20dan%20NGC%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [951, 402, 984, 651, 360, 69, 408,
319, 601, 485, 980, 507, 725, 547, 544, 615,
83, 165, 141, 501, 263, 617, 865, 575, 219,
390, 984, 592, 236, 105, 942, 941, 386, 462,
47, 418, 907, 344, 236, 375, 823, 566, 597,
978, 328, 615, 953, 345, 399, 162, 758, 219,
918, 237, 412, 566, 826, 248, 866, 950, 626,
949]

for x in numbers:
  if x % 2 == 0:
    if x == 918:
      break  
    print (x)
print ("Done")

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
Done

# New Section

In [ ]:
def KelvintoCelsius(Kelvin):
    '''rumus Kelvin ke Celsius'''
    Celsius = Kelvin + -273.15
    '''mengembalikan value Celsius dan Kelvin'''
    return Celsius
    '''menampilkan hasil konversi Kelvin ke Celsius'''
print ("Celsius",KelvintoCelsius(12))

def CelciustoFahrenheit(Celcius):
    '''rumus Celsius ke Fahrenheit'''
    Fahrenheit = (Celcius*9/5)+32
    '''mengembalikan value Fahrenheit'''
    return Fahrenheit
    '''menampilkan hasil konversi Celcius ke Fahrenheit'''
print("Celsius ke Fahrenheit",CelciustoFahrenheit(40))

def FahrenheittoKelvin(Fahrenheit):
    '''rumus Fahrenheit ke Kelvin'''
    Kelvin = (Fahrenheit-32)*5/9+273.15
    '''mengembalikan value Kelvin'''
    return Kelvin
    '''menampilkan hasil konversi Fahrenheit ke Kelvin'''
print("Fahrenheit ke Kelvin",FahrenheittoKelvin(0))

Celsius -261.15
Celsius ke Fahrenheit 104.0
Fahrenheit ke Kelvin 255.3722222222222